{% extends "base.html" %}
{% block bodycontent %}
                <strong id="dates">{{ dates }}</strong>
            </div>
        </div>
    </nav>
</div>
<div class="clear"></div>
<div id="content" class="container">
    <div class="row">
        <div id="leftArticle" class="col-xs-12 col-md-8 col-lg-8">
            <div id="liuyanqiang">
                <p id="liuyanqiangbiaoti" class="text-center">留言板</p>
                <br/>
                <br/>
                <!-- 多说评论框 start -->
                <div class="ds-thread" data-thread-key="ly" data-title="留言墙" data-url="{% url 'liuyan' %}"></div>
                <!-- 多说评论框 end -->
            </div>
        </div>
        <div id="rightInfo" class="col-xs-0 col-md-4 col-lg-4 hidden-xs">
            {% include 'rightInfo.html' %}
        </div>

    </div>
{% endblock bodycontent %}